@use "../utils/variables";

body {
    font-family: $text-font;
    font-weight: $bolder-font-weight;
}

h1, h2 {
    font-size: 1.5rem;
}

.restaurant-card__byline {
    font-weight: $light-font-weight;
}