@use "../utils/variables";
@use "../utils/mixins";

.fonctionnement-section {
    padding-top: 3rem;
    padding-bottom: 3rem;
    @include side-padding;

    &__title {
        padding-bottom: 1.5rem;
    }

    &__cards {
        display: grid;
        grid-template-columns: 1;
        grid-template-rows: auto;
        row-gap: 1rem;
        padding-left: 0.75rem;
    }
}

.restaurants-section {
    background-color: $background-color-2;
    padding-top: 3rem;
    padding-bottom: 3rem;

    &__container {
        @include side-padding;
      &__title {
        padding-bottom: 1.5rem;
      }
    }
}

.restaurants-cards {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: auto;
    row-gap: 1rem;
}