@mixin box-shadow {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
}

@mixin box-shadow--hover {
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.350);
}

@mixin side-padding {
    padding-left: 1rem;
    padding-right: 1rem;
}