

$primary-colour: #9356DC;
$secondary-colour: #FF79DA;
$tertiary-colour: #99E2D0;
$background-colour-1: #FFFFFF;
$background-color-2: #F7F7F7;
$background-color-3: #EAEAEA;
$footer-background-color: #353535;
$fonctionnement-card-icon-color: #7E7E7E;

$text-font: 'Roboto', sans-serif;
$logo-title-font: 'Shrikhand', cursive;

$light-font-weight: 300;
$bolder-font-weight: 500;

$button-text-color: white;